# git ignore file
*.ld
*.ind
*.o
*.d
*.jlink
*.emSession
*.hex
*.elf
*.map
*.asm
*.eww
*.ewd
*.ewp
*.zip
*.log
*.json
*.bin
*.dat
*.uvoptx
*.uvprojx
*.icf
*.scr
*.c00k!e
*.session
license.txt
**/version.c